SECRET_KEY='секретный код из файлы settings.py при создании проекта'

DB_ENGINE='django.db.backends.postgresql'
DB_NAME='example_name_DB'
DB_USER='example_name_USER_DB'
DB_PASSWORD='example_PASSWORD_DB'
DB_HOST='localhost'
DB_PORT='5432'

EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=example@gmail.com
EMAIL_HOST_PASSWORD=password
EMAIL_PORT=587

SOCIAL_AUTH_VK_OAUTH2_KEY=51692480
SOCIAL_AUTH_VK_OAUTH2_SECRET='ITVpMtE70UruzZwtKRyW'

BOT_TOKEN='token'